.weather {
   padding: 50px 0 20px 0;

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 600px);
      grid-template-rows: 350px;
   }

   &__city {
      display: flex;
      justify-content: flex-start;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      color: #17171d;

      &-def {
         color: rgb(13, 190, 131);
         cursor: pointer;
      }

      &-name {
         color: #17171d;
      }

      &-wrapper {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         flex-wrap: wrap;
      }

      &-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         background: none;
         height: 20px;
         margin-top: 15px;
         margin-right: 20px;
         padding: 5px;
         border: none;
         outline: none;
         border-radius: 8px;
         cursor: pointer;
         transition: all 0.5s;

         &:hover {
            border: none;
            box-shadow: 0px 1px 2px 0px rgba(102, 16, 242, 1),
               1px 2px 4px 0px rgba(102, 16, 242, 1),
               2px 4px 8px 0px rgba(102, 16, 242, 1),
               2px 4px 16px 0px rgba(102, 16, 242, 1);
            transform: translateY(5px);
         }
      }

      &-descrition {
         font-size: 16px;
      }
   }

   &__input {
      margin-top: 40px;
      display: flex;
      justify-content: flex-start;

      &-field {
         display: flex;
         justify-content: flex-start;
         width: 250px;
         height: 50px;
         border: none;
         outline: none;
         text-align: center;
         border-radius: 30px;
         font-family: 'Roboto', sans-serif;
         font-size: 18px;
         background: #ddf1f9;
         transition: all 0.2s;

         &:focus {

            box-shadow: 0px 1px 2px 0px rgba(102, 16, 242, 1),
               1px 2px 4px 0px rgba(102, 16, 242, 1),
               2px 4px 8px 0px rgba(102, 16, 242, 1),
               2px 4px 16px 0px rgba(102, 16, 242, 1);
         }
      }
   }

   &__count {
      margin-top: 10px;
      font-size: 20px;
      text-align: left;

      &-wrapper {
         display: flex;
         justify-content: flex-start;
      }

      &-btn {
         margin: 10px 20px 0 0;
         padding: 10px 15px;
         border-radius: 6px;
         background: #0d6efd;
         font-size: 18px;
         border: none;
         cursor: pointer;
         transition: all 0.5s;

         &:hover {
            box-shadow: 0px 1px 2px 0px rgba(102, 16, 242, 1),
               1px 2px 4px 0px rgba(102, 16, 242, 1),
               2px 4px 8px 0px rgba(102, 16, 242, 1),
               2px 4px 16px 0px rgba(102, 16, 242, 1);
            transform: translateY(5px);
         }
      }
   }
}

@media (max-width: 1224px) {
   .weather {

      &__grid {
         grid-template-columns: 100%;
         grid-template-rows: 450px 100%;
         grid-auto-rows: auto;
      }

      &__city {
         font-size: 25px;
         flex-wrap: wrap;
      }
   }
}